*.png
*.jpg
*.jpeg
*.gif
*.svg
*.bmp
*.webp
*.ico
*.tiff
*.tif
__pycache__/
*.pyc
.ipynb_checkpoints/

# Bỏ qua các thư mục nặng
Dataset/
anaconda_projects/
.venv/
venv/
env/

# Bỏ qua các file ảnh nhưng không áp dụng cho thư mục Results
!Results/**
